@import "tailwindcss";

:root {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.3138 0.0131 264.3681);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.3138 0.0131 264.3681);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.3138 0.0131 264.3681);
  --primary: oklch(0.4042 0.1513 266.0815);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.6592 0.1590 43.9977);
  --secondary-foreground: oklch(0.9800 0.0160 73.6840);
  --muted: oklch(0.9222 0.0044 247.8716);
  --muted-foreground: oklch(0.5404 0.0257 264.3337);
  --accent: oklch(0.9222 0.0044 247.8716);
  --accent-foreground: oklch(0.4042 0.1513 266.0815);
  --destructive: oklch(0.5875 0.2303 28.2622);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.8428 0.0090 247.9335);
  --input: oklch(0.9613 0.0022 247.8448);
  --ring: oklch(0.4042 0.1513 266.0815);
  --chart-1: oklch(0.4042 0.1513 266.0815);
  --chart-2: oklch(0.6707 0.0216 264.4197);
  --chart-3: oklch(0.8024 0.0114 247.9698);
  --chart-4: oklch(0.7828 0.0764 230.6585);
  --chart-5: oklch(0.7506 0.1370 62.8073);
  --sidebar: oklch(0.9791 0 0);
  --sidebar-foreground: oklch(0.3138 0.0131 264.3681);
  --sidebar-primary: oklch(0.4042 0.1513 266.0815);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9222 0.0044 247.8716);
  --sidebar-accent-foreground: oklch(0.4081 0.0184 264.3488);
  --sidebar-border: oklch(0.8428 0.0090 247.9335);
  --sidebar-ring: oklch(0.4042 0.1513 266.0815);
  --font-sans: Montserrat, ui-sans-serif, sans-serif, system-ui;
  --font-serif: 'Lora', serif;
  --font-mono: 'Fira Code', monospace;
  --radius: 0.5rem;
  --shadow-x: 0rem;
  --shadow-y: 0.25rem;
  --shadow-blur: 0.5rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0.05;
  --shadow-color: hsl(220 10% 20%);
  --shadow-2xs: 0rem 0.25rem 0.5rem 0rem hsl(220 10% 20% / 0.03);
  --shadow-xs: 0rem 0.25rem 0.5rem 0rem hsl(220 10% 20% / 0.03);
  --shadow-sm: 0rem 0.25rem 0.5rem 0rem hsl(220 10% 20% / 0.05), 0rem 1px 2px -1px hsl(220 10% 20% / 0.05);
  --shadow: 0rem 0.25rem 0.5rem 0rem hsl(220 10% 20% / 0.05), 0rem 1px 2px -1px hsl(220 10% 20% / 0.05);
  --shadow-md: 0rem 0.25rem 0.5rem 0rem hsl(220 10% 20% / 0.05), 0rem 2px 4px -1px hsl(220 10% 20% / 0.05);
  --shadow-lg: 0rem 0.25rem 0.5rem 0rem hsl(220 10% 20% / 0.05), 0rem 4px 6px -1px hsl(220 10% 20% / 0.05);
  --shadow-xl: 0rem 0.25rem 0.5rem 0rem hsl(220 10% 20% / 0.05), 0rem 8px 10px -1px hsl(220 10% 20% / 0.05);
  --shadow-2xl: 0rem 0.25rem 0.5rem 0rem hsl(220 10% 20% / 0.13);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2115 0.0072 264.4099);
  --foreground: oklch(0.9222 0.0044 247.8716);
  --card: oklch(0.2115 0.0072 264.4099);
  --card-foreground: oklch(0.9222 0.0044 247.8716);
  --popover: oklch(0.2115 0.0072 264.4099);
  --popover-foreground: oklch(0.9222 0.0044 247.8716);
  --primary: oklch(0.4042 0.1513 266.0815);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.3138 0.0131 264.3681);
  --secondary-foreground: oklch(0.8428 0.0090 247.9335);
  --muted: oklch(0.2639 0.0102 264.3844);
  --muted-foreground: oklch(0.7615 0.0139 248.0106);
  --accent: oklch(0.2639 0.0102 264.3844);
  --accent-foreground: oklch(0.8428 0.0090 247.9335);
  --destructive: oklch(0.5875 0.2303 28.2622);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.3617 0.0158 264.3570);
  --input: oklch(0.3138 0.0131 264.3681);
  --ring: oklch(0.4042 0.1513 266.0815);
  --chart-1: oklch(0.4042 0.1513 266.0815);
  --chart-2: oklch(0.5921 0.0247 248.2437);
  --chart-3: oklch(0.5132 0.0198 229.3153);
  --chart-4: oklch(0.6475 0.1187 235.0233);
  --chart-5: oklch(0.6972 0.1606 57.5708);
  --sidebar: oklch(0.1897 0.0059 264.4247);
  --sidebar-foreground: oklch(0.9222 0.0044 247.8716);
  --sidebar-primary: oklch(0.4042 0.1513 266.0815);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.2639 0.0102 264.3844);
  --sidebar-accent-foreground: oklch(0.8428 0.0090 247.9335);
  --sidebar-border: oklch(0.3617 0.0158 264.3570);
  --sidebar-ring: oklch(0.4042 0.1513 266.0815);
  --font-sans: Montserrat, ui-sans-serif, sans-serif, system-ui;
  --font-serif: 'Lora', serif;
  --font-mono: 'Fira Code', monospace;
  --radius: 0.5rem;
  --shadow-x: 0rem;
  --shadow-y: 0.5rem;
  --shadow-blur: 0.75rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0.2;
  --shadow-color: hsl(220 10% 5%);
  --shadow-2xs: 0rem 0.5rem 0.75rem 0rem hsl(220 10% 5% / 0.10);
  --shadow-xs: 0rem 0.5rem 0.75rem 0rem hsl(220 10% 5% / 0.10);
  --shadow-sm: 0rem 0.5rem 0.75rem 0rem hsl(220 10% 5% / 0.20), 0rem 1px 2px -1px hsl(220 10% 5% / 0.20);
  --shadow: 0rem 0.5rem 0.75rem 0rem hsl(220 10% 5% / 0.20), 0rem 1px 2px -1px hsl(220 10% 5% / 0.20);
  --shadow-md: 0rem 0.5rem 0.75rem 0rem hsl(220 10% 5% / 0.20), 0rem 2px 4px -1px hsl(220 10% 5% / 0.20);
  --shadow-lg: 0rem 0.5rem 0.75rem 0rem hsl(220 10% 5% / 0.20), 0rem 4px 6px -1px hsl(220 10% 5% / 0.20);
  --shadow-xl: 0rem 0.5rem 0.75rem 0rem hsl(220 10% 5% / 0.20), 0rem 8px 10px -1px hsl(220 10% 5% / 0.20);
  --shadow-2xl: 0rem 0.5rem 0.75rem 0rem hsl(220 10% 5% / 0.50);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}